h1 {
    color: #eee !important;
    text-transform: uppercase;
    opacity: 0.3;
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

p {
    color: #eee !important;
}

li {
    color: #eee !important;
}

.box-header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-header {
    height: 50px;
    background: #273352;
    box-shadow: none;
}

.box-logo {
    display: block;
    padding: 20px;
}

/* single project page
==================================================*/

.cat-ul {
    padding-left: 0;
    list-style: none
}

.cat-ul li i {
    margin-right: 10px;
    color: #ffc800;
}

.box-logo img {
    width: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-padding {
    padding-top: 20px
}

/* Responsive media queries
==================================================*/

@media (max-width: 991px) {
}

@media only screen and (max-width: 670px) {
}

@media only screen and (max-width: 520px) {
}

@media only screen and (max-width: 420px) {
}